//$grid-row-cell-selected-background-color: red;
$grid-row-cell-background-color: #f6f6f6;
$grid-row-cell-alt-background-color: #f6f6f6;
$grid-cell-inner-padding: 10;
$row-expander-collapse-glyph: dynamic($fa-var-caret-down $row-expander-glyph-font-size $font-icon-font-family);
$row-expander-expand-glyph: dynamic($fa-var-caret-right $row-expander-glyph-font-size $font-icon-font-family);
$grid-body-border-width: 0;

.tplIcon {
  position: fixed;
  top: 10px;
  color: $base-color;
}

.tplTitle {
   position: relative;
   left: 18px;
   margin: 2px;
   font-size: 16px;
   font-weight: 500;
   color: dimgray;
 }

.tplTitle2 {
  position: relative;
  margin: 10px;
  font-size: 20px;
  color: dimgray;
}

.tplTitle2 span, .tplTitle3 span{
  color: $base-color;
}

.tplTitle3 {
  position: relative;
  margin: 5px;
  font-size: 16px;
  color: dimgray;
}

.tplTitle4 {
  position: relative;
  left: 25px;
  margin: 2px;
  font-size: 14px;
  font-weight: 500;
  color: dimgray;
}

.tplText {
  position: relative;
  left: 18px;
  margin: 2px;
  font-size: 14px;
  color: dimgray;
  white-space: normal;
}

.tplText2 {
  position: relative;
  left: 18px;
  margin: 2px;
  font-size: 12px;
  color: dimgray;
}

.tplText3 {
  position: relative;
  left: 40px;
  margin: 2px;
  font-size: 14px;
  color: dimgray;
}

.tplDescription {
    margin: 0px 0px 10px 20px;
    padding: 10px 0px 0px 0px;
    white-space: normal;
}

.toggle {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 10px;
  background-color: $base-color;
  border-right: 1px solid #e4e4e4;
}

.tplImage {
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0;
  margin: 5px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.Pendiente { background-color: yellow; }
.Aprobado { background-color: green; }
.Rechazado { background-color: red; }
.Comenzado { background-color: orange; }