.blueBackground { background: $base-color; }
.screenBackground { background: #f6f6f6; }
.whiteBackground { background: #fff; }
.transparentBackground { background-color: transparent !important; }
.circular { border-radius: 50%; }
.toastMessage {
  line-height: 20px;
  font: 300 16px/19px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  text-align: center;
  position: relative; top: 60%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}




