.circular { border-radius: 50%; }
.screenBackground { background: #f6f6f6; }
.sgplogo { top: 0px !important; }

.sgptitle {
  font: 300 20px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  color: $color;
  left: 70px !important;
}

.btnPlus { left: 300px !important; }
.btnUser  { font: 300 16px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif; border: none; background-color: white; }
.btnUser img { width: 36px; height: 36px; border-radius: 50%; }

.titleSection {
  font: 300 18px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
  color: $color;
}

.x-panel-header-default .x-tool-tool-el { background-color: transparent; }

/* MENU */
@include treelist-ui(
	$ui: 'navigator',
	$padding: 0 15px,
    $background-color: $base-color,
    $toolstrip-background-color: dimgray,
	
	// Darker background for expanded subtrees
    $item-expanded-background-color: gray,
 
    $tool-selected-color: #f6f6f6,
    $tool-selected-background-color: mix(white, gray, 10%),
 
    $tool-float-indicator-width: 4px,
    $tool-float-indicator-color: #5fa2dd,
 
    // Taller line height
    $item-line-height : 50px,
 
    // Off-white text
    $item-icon-color: #f6f6f6,
    $item-expander-color: #ADB3B8,
    $item-text-color: #f6f6f6,
	$item-text-font-size: 16px,
 
    // Brighter when hovered
    $row-over-background-color: mix(white, gray, 20%),
    $item-icon-over-color: #fff,
    $item-expander-over-color: #fff,
    $item-text-over-color: #f6f6f6,
 
    $row-indicator-width: 6px,
    $row-indicator-selected-color: #5fa2dd,
    $row-indicator-selected-over-color: lighten(#5fa2dd, 10%),
    $row-indicator-over-color: lighten(#5fa2dd, 10%),
 
    // Various sizes for the pieces:
    $item-icon-font-size: 20px,
    $item-icon-width: 30px,
    $item-expander-font-size: 16px,
    $item-expander-width: 24px,
 
    $row-selected-background-color: $base-color2
);

.treelist-with-nav .#{$prefix}panel-body { background-color: $base-color; }

.x-treelist-item-tool {
    height: 50px; padding: 5px;
	background-color: $base-color;
}
.x-treelist-item-tool:before { line-height: 40px !important; }
.x-treelist-item-text { background-color: dimgray; }
.x-treelist-item-wrap { background-color: dimgray; }
.x-treelist-floater { width: 260px !important; }

/*----- KPI */

.whiteBackground { background: white !important;  }
.centerInDiv {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    white-space: normal;
}
.btnHoverBackground:hover {
    color: white !important;
    background: #bfdaf1;
}
.indicator-icon .x-fa:before {
    color: white;
    position: absolute;
    left: 30%; top: 40%;
}
.indicator-button, .indicator-idt {
    background: white;
    width: 210px; height: 90px;
    position: absolute;
    top: 0px; left: 80px;
    padding: 3px;
}
.indicator-button .info-value {
    color: white;
    font: 300 35px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    align-content: center;
    padding: 1em 0;
    position: absolute;
    top: 0px; right: 215px;
}
.indicator-button .info-title {
    width: 205px; height: 90px;
    position: absolute;
    top: 0px; left: 0px;
    color: dimgrey;
    font: 300 25px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}
.indicator-idt .x-fa:before {
    color: white;
    position: absolute;
    top: 40%; left: -60px;
}
.indicator-idt .info-value {
    position: absolute;
    top: 25%; left: 30%;
    color: dimgrey;
    font: 300 35px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}
.indicator-idt .info-title {
    width: 100%;
    color: red;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 50px;
}
.circularImage {
    border-radius: 100%;
    width: 35px;
    height: 35px;
}
.circularIcon {
    width: 64px; height: 64px;
    position: absolute;
    color: white; background-color: $kpi-icon-color;
    display: block;
    border-radius: 100%;
    top: 7%; left: 3%;
}
.circularIcon .x-fa:before {
    position: absolute;
    left: 20%; top: 35%;
}
.kpi-container {
    width: 100%; height: 60px;
    /*border: 1px solid;*/
    text-align: center;
}
.kpi-container .kpi strong, .kpiField .kpi strong {
    display: block;
    /*float: left;*/
    clear: both;
    width: 100%;
    color: #B3B1B2;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -0.2px;
}
.kpi-container .kpi span, .kpiField .kpi span {
    font-size: 26px;
    color: #5E5E5E;
    padding: .18em 0;
    display: inline-block;
}
.kpiField {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.kpiField .kpi-container {
	height: 80px;
    width: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.kpiField .kpi {
    margin: 20px 10px 0px 17px;
}
.kpiField .info-title {
    height: 25px;
    position: relative;
    top: 35px; left: 0px;
    color: $kpi-icon-color;
}