.centerInDiv {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    white-space: normal;
}
.indicator-button {
	height: 198px;
    background: white;
	border: 2px solid $base-color;
}
.indicator-button  .circularIcon {
    width: 64px; height: 64px;
    position: absolute;
    color: white; background-color: #1E90FF;
    display: block;
    border-radius: 100%;
    top: 7%; left: 3%;
}
.indicator-button .circularIcon .x-fa:before {
    position: absolute;
    left: 20%; top: 35%;
}
.indicator-button .info-title {
    width: 205px; height: 80px;
    position: relative;
    top: 0px; left: 25%;
    color: dimgrey;
    font: 300 25px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}
.kpi-container {
	width: 99%; height: 80px;
    /*border: 1px solid;*/
    text-align: center;
	top: -135px;
	left: 2px !important;
}
.kpi-container ul {
    list-style-type: none;
    overflow: hidden;
}
.kpi-container li {
    float: left;
}
.kpi-container .kpi strong, .kpiField .kpi strong {
    display: block;
    /*float: left;*/
    clear: both;
    width: 100%;
    color: #B3B1B2;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.2px;
}
.kpi-container .kpi span, .kpiField .kpi span {
    font-size: 26px;
    color: #5E5E5E;
    padding: .18em 0;
}
.kpiField {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.kpiField .kpi-container {
	height: 80px;
    width: 170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.kpiField .kpi {
    margin: -5px 5px 0px 9px;
}
.kpiField .info-title {
    height: 25px;
    position: relative;
    top: 15px; left: 0px;
    color: #1E90FF;
}

.btnCls {
	top: -150px;
	left: 3px;
}
