$enable-font-awesome: dynamic(true);

$base-color: dynamic(#1E90FF);
$base-color2: dynamic(#3F505F);

$second-color: #F6F6F6;
$second-color2: dimgray;

$login-background-color: $second-color2;
$login-image-subpanel: url(../resources/images/wallpaper.jpg);
$login-textfield-color: $base-color;

$kpi-icon-color: dynamic(#e25b32);




