.loginBackground { background-color: $login-background-color !important; }
.blueBackground { 
	background: #1E90FF; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(-45deg, #1fc8db, #1E90FF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(-45deg, #1fc8db, #1E90FF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(-45deg, #1fc8db, #1E90FF); /* For Firefox 3.6 to 15 */
	background: linear-gradient(-45deg, #1fc8db, #1E90FF);
 }
.whiteBackground { background-color: white !important; }
.noBackground { background: transparent !important; }
.appTitle {
	font: 500 28px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
	top: 10px !important; left: 50px !important;
	color: $second-color;
	/*background-color: $base-color;*/
    padding: 15px;
}
.signIn {
	font: 700 30px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
	color: $second-color2;
}
.panel {
	background: $second-color;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.infoPanel {
	//background-image: $login-image-subpanel;
	background-size: cover !important;
}
.bigLogo {
	margin: 15% 30%;
}
.logo label {
	font: 300 30px/0px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
	color: $second-color2;
	margin: 30px 15px;
    position: absolute;
}

@include extjs-button-small-ui(
    $ui: 'login',
    $color: $second-color,
	$font-size: 20px    
);

.x-btn-inner-login-small { padding: 5px 5px; }

@include extjs-text-field-ui(
	$ui: 'login',
	$ui-color: $login-textfield-color,
	$ui-font-size: 18px,
	$ui-border-style: none none solid none
);
